@using DevJobs.Web.Models
@model MainViewModel

@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">
        <h1 class="text-center">DevJobs</h1>
            <p class="text-center lead">DevJobs.bg is a free website for searching developer jobs in Bulgaria.</p>
            <div class="searchForm">
                @using (@Html.BeginForm("GetFiltered", "Ads", FormMethod.Post))
                    {
                    <ul>
                        <li>
                            <div class="lab">Key words</div>
                            <input name="searchTerm" type="text" class="keyWords">
                        </li>
                        <li>
                            <div class="lab">Location</div>
                            @Html.DropDownList("ChoiceList")
                        </li>
                        <li>
                            <div class="lab">Technology</div>
                            @Html.DropDownList("TechnologyList")
                        </li>
                    </ul>
                    <div class="searchButtonContainer">
                        <input type="submit" class="searchButton" value="SEARCH">
                    </div>
                }
            </div>
    </div>*@

<div class="container">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-inner">
                    <div class="col-sm-10 col-sm-offset-1 on-top-of-carousel">
                        <h1 class="text-center">DevJobs</h1>
                        <p class="text-center lead">DevJobs.bg is a free website for searching developer jobs in Bulgaria.</p>
                        <div class="searchForm">
                            @using (@Html.BeginForm("GetFiltered", "Ads", FormMethod.Post))
                            {
                                <ul>
                                    <li>
                                        <div class="lab">Key words</div>
                                        <input name="searchTerm" type="text" class="keyWords">
                                    </li>

                                    <li>
                                        <div class="lab">Location</div>
                                        @Html.DropDownList("ChoiceList")
                                    </li>
                                    <li>
                                        <div class="lab">Technology</div>
                                        @Html.DropDownList("TechnologyList")
                                    </li>
                                </ul>
                                <div class="searchButtonContainer">
                                </div>
                                <input type="submit" class="searchButton" value="SEARCH">
                            }
                        </div>
                    </div>
                    <div class="item active" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/8/8e/Templo_Wat_Arun%2C_Bangkok%2C_Tailandia%2C_2013-08-22%2C_DD_37.jpg')">
                    </div>
                    <div class="item" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a5/%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9_%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9_%D0%BC%D1%83%D0%B7%D0%B5%D0%B9_%E2%84%962.JPG')">
                    </div>
                    <div class="item" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/c/ce/Unterzeichnung_des_Koalitionsvertrages_der_18._Wahlperiode_des_Bundestages_%28Martin_Rulsch%29_026.jpg')">
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8 lastAds">
        <div class="title">
            <h4>Latest added adverts:</h4>
        </div>
        @foreach (var ad in Model.Ads)
            {
            <a style="color:black" href='@Url.Action("GetDetails","Ads", new { ad.Id },null)'>
                <div class="ad">
                    <span class="pull-right">@ad.CreatedOn</span>
                    <h3>@ad.Title</h3>
                    <h6>@ad.City</h6>
                </div>
            </a>
        }
    </div>
    <div class="col-md-4 topCompanies">
        @Html.Partial("_TopCompaniesPartial", Model)
    </div>
</div>