@using DevJobs.Web.Models
@model AdViewModel
@{
    ViewBag.Title = "GetFiltered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Title</h2>
<hr />
<p>@Model.Description</p>*@

<div class="row">
    <div class="row">
        <img src="~/Content/Images/company-logo.gif" style="height:100px;height:100px; padding:10px;margin:10px;" />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="jobOptions">
                <div><h3>Info</h3></div>
                <strong style="display:block;">Company</strong>
                <span>@Model.CompanyName</span>
                <br />
                <strong style="display:block;">City</strong>
                <span>@Model.City</span>
                <br />
                <strong style="display:block;">Technology</strong>
                <span>@Model.Technology</span>
                <br />
                <strong style="display:block;">Level</strong>
                <span>@Model.Level</span>
                <br />
                <strong style="display:block;">Added on</strong>
                <span>@Model.CreatedOn</span>
                <br />
                <strong style="display:block;">Seen</strong>
                <span>@Model.PreViews</span>
            </div>
        </div>
        <div class="col-md-6" style="display:inline-block;">
            <div class="info">
                <h1>@Model.Title</h1>
                <h3 class="adDescription"><strong>Description and requirements:</strong></h3>
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
</div>

